/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    height: 100%;
}

body {
    background-image: url(./picture/sealgray.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
}
.bottom{
    margin:20px;
    color:honeydew;
    text-align: center;
    font-size:30px;
    position: absolute;
    bottom: 150px;
    left: 50px;
}

.head{
    text-align:center;
    padding:10px;
}
.title{
    margin:20px;
    color:honeydew;
    text-align: center;
    font-size:70px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-weight:bold;
}

.content ul{
    margin:50px;
    display:flex;
}
.content li{
    width:25%;
    border:10px solid rgb(61, 61, 65);
    margin:5px;
    padding:10px;
}
.spyder{
    position: absolute;
    top: 90%;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    /* background-color: rgb(59 100 126); */
    border: dashed 4px gray;
    /* box-sizing: unset; */
    background-image: linear-gradient(to right, #4e1a1a 0%, #c76969 50%, #782c2c 50%);
    background-size: 5px 40px;
    background-repeat: repeat-x;
}
